<div class="container">
  <div class="row">
    <form #filterForm="ngForm" (ngSubmit)="onSubmit(filterForm)">

      <div class="col-lg-2">
        <div class="form-group">
          <label>Cliente</label>
          <select class="form-control" id="customer_id" name="customer_id" #customer="ngModel" [(ngModel)]="filter.customer_id" required>
            <option *ngFor="let option of options" value="{{option.id}}">{{option.option}}</option>
          </select>
          <small *ngIf="!customer.valid && customer.touched" class="invalid-feedback">Seleccione un cliente</small>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label>Desde</label>
          <input type="date" name="start" id="start" max="2020-12-31" min="1995-01-01" class="form-control datepicker"
            #start="ngModel" [(ngModel)]="filter.start" required>
          <small *ngIf="!start.valid && start.touched" class="invalid-feedback">Fecha Requerida</small>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label>Hasta</label>
          <input type="date" name="end" id="end" max="2020-12-31" min="1995-01-01" class="form-control datepicker"
            #end="ngModel" [(ngModel)]="filter.end" required [disabled]="start.invalid">
          <small *ngIf="!end.valid && end.touched" class="invalid-feedback">Fecha Requerida</small>
        </div>
      </div>
      <div class="col-lg-2 actions">
        <div class="form-group">
          <input type="submit" value="Filtrar" class="btn btn-danger" [disabled]="filterForm.invalid" />
        </div>
      </div>
      <div class="col-lg-2 actions">
        <div class="form-group">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-lg">Crear Órden</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.es.min.js">
</script>
<script>
  $('#datetimepicker2').datepicker({
    weekStart: 0,
    todayBtn: "linked",
    language: "es",
    orientation: "bottom auto",
    keyboardNavigation: false,
    autoclose: true
  });

</script>
