.dropdown-menu {
    padding: 0%;
}
.datepicker {
	padding: 0 12px;
}
.dropdown-menu a {
	padding: 3% 8%;	
	color: #333;
	border-bottom: 1px solid #ccc;
    background-color: #eee;
    display: block;
    cursor: pointer;
    text-decoration: none;
}
.actions button, .actions input {
	width: 100%;
	margin-top: 24px;
}