<!-- Modal content-->
<div class="modal-content">
  <form role="form" class="" #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm)">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Crear Órdenes</h2>
          <hr class="star-primary">
        </div>
        <div class="separator"></div>
      </div>
    </div>
    <div class="modal-body row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="customer_id">Cliente</label>
          <select class="form-control" id="customer_id" name="customer_id" #customer="ngModel"
            [(ngModel)]="order.customer_id" (change)="onChangeCustomer(customer)" [disabled]="disableCustomer">
            <option value="0" selected>--Seleccionar--</option>
            <option *ngFor="let option of options" value="{{option.id}}">{{option.option}}</option>
          </select>
          <small *ngIf="!customer.valid && customer.touched" class="invalid-feedback">Seleccione un cliente</small>
        </div>
        <div class="form-group">
          <label for="delivery_address">Dirección de entrega</label>
          <input type="text" class="form-control" placeholder="Dirección" id="delivery_address"
            name="delivery_address" #delivery_address="ngModel" [(ngModel)]="order.delivery_address" required
            [disabled]="customer.value < 1">
          <small *ngIf="!delivery_address.valid && delivery_address.touched" class="invalid-feedback">Ingresa la
            dirección de entrega</small>
        </div>
        <div class="row">

          <div class="col-lg-5">
            <div class="form-group">
              <label for="product_id">Producto</label>
              <select class="form-control" id="product_id" name="product_id" #product_id="ngModel"
                [(ngModel)]="orderDetail.product_id" (change)="onChangeProduct(product_id)"
                [disabled]="customer.value < 1">
                <option value="0" selected>--Seleccionar--</option>
                <option *ngFor="let option of products" value="{{option.id}}">{{option.option}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="quantity">Cantidad</label>
              <input type="text" class="form-control" placeholder="Cantidad" id="quantity" name="quantity"
                #quantity="ngModel" [(ngModel)]="orderDetail.quantity" number required [disabled]="customer.value < 1">
            </div>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn btn-danger mt-22" (click)="addProduct(quantity.value)"
              [disabled]="quantity.value == 0">Agregar</button>
          </div>

        </div>

      </div>
      <div class="col-lg-6">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Producto</th>
              <th scope="col">Catiad</th>
              <th scope="col">Precio</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of selectedProducts; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{row.product_name}}</td>
              <td class="text-center">{{row.quantity}}</td>
              <td class="text-right">$ {{row.price}}</td>
              <td class="text-right">$ {{row.total_price}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <h3>Total : $ {{order.total}}</h3>
      <input type="submit" class="btn btn-danger" value="Guardar" />
      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
  </form>
</div>
