.separator{
    background-color: #9d0e0e;
    width: 100%;
    height: 134px;
    margin-top: -2%;
    border-radius: 5px 5px 0 0;
}

.modal-header h2{
    color: #ffffff;
}
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
    border-color: #ffffff;
}
.mt-22 {
	margin-top: 22px;
	width: 100%;
}
