<header id="page-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Prueba Técnica Bietech SAS</span>
                    <hr class="star-light">
                    <h2 class="skills">John Mario Jiménez</h2>
                    <h1 class="skills">3103400214</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="content-wrapper">
    <section class="primary" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Órdenes</h2>
                    <hr class="star-primary">
                </div>
            </div>
            
            <div class="row">
                <app-table></app-table>
            </div>
        </div>
    </section>
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Acerca de</h3>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Ésta aplicación es capaz de realizar una búsqueda de órdenes directamente a una base de datos de un servidor propiedad de Beitech a travéz de un servicio web basado en tecnología REST.</p>
                </div>
                <div class="col-lg-4">
                    <p>Adicionalmente incluye una botón que activa la opción de crear una nueva orden para un cliente seleccionado.</p>
                    
                </div>
            </div>
        </div>
    </section>    
</div>
<!-- Large modal -->


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <app-order-form></app-order-form>
      
  </div>
</div>
