
.table {
    color: #ffffff;
    background-color: #2c3e50;
}
thead th{
    border-color: #4b6d86;
    height: 50px;
}
tbody th, tbody td{
    border-color: #4b6d86;
    height: 35px;
}
   
tbody tr:hover {
    color: #fff;
    background-color: #b34343;
}
 
.dropdown-menu {
    padding: 0%;
}
.datepicker {
	padding: 0 12px;
}
.dropdown-menu a {
	padding: 3% 8%;	
	color: #333;
	border-bottom: 1px solid #ccc;
    background-color: #eee;
    display: block;
    cursor: pointer;
    text-decoration: none;
}
.actions button, .actions input {
	width: 100%;
	margin-top: 24px;
}
  
    