<div class="row">
<div class="container">
  <div class="row">
    <form #filterForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="col-lg-2">
        <div class="form-group">
          <label>Cliente</label>
          <select class="form-control" id="customer_id" name="customer_id" #customer="ngModel" [(ngModel)]="filter.customer_id" required>
            <option *ngFor="let option of options" value="{{option.id}}">{{option.option}}</option>
          </select>
          <small *ngIf="!customer.valid && customer.touched" class="invalid-feedback">Seleccione un cliente</small>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label>Desde</label>
          <input type="date" name="start" id="start" max="2020-12-31" min="1995-01-01" class="form-control datepicker"
            #start="ngModel" [(ngModel)]="filter.start" required>
          <small *ngIf="!start.valid && start.touched" class="invalid-feedback">Fecha Requerida</small>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label>Hasta</label>
          <input type="date" name="end" id="end" max="2020-12-31" min="1995-01-01" class="form-control datepicker"
            #end="ngModel" [(ngModel)]="filter.end" required [disabled]="start.invalid">
          <small *ngIf="!end.valid && end.touched" class="invalid-feedback">Fecha Requerida</small>
        </div>
      </div>
      <div class="col-lg-2 actions">
        <div class="form-group">
          <input type="submit" value="Filtrar" class="btn btn-danger"   [disabled]="filterForm.invalid" />
        </div>
      </div>
      <div class="col-lg-2 actions">
        <div class="form-group">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-lg">Crear Órden</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
<div class="row">


<table class="table ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Dirección</th>
        <th scope="col">Productos</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; let i = index" >
        <th scope="row">{{i + 1}}</th>
        <td>{{row.name}}</td>
        <td>{{row.creation_date}}</td>
        <td>{{row.delivery_address}}</td>
        <td>{{row.products}}</td>
        <td>{{row.total}}</td>
      </tr>     
    </tbody>
  </table>
</div>